.jumbotron {
    color: white;
    background-image: url("../img/florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
    background-size: cover;
    position: relative;
}

.jumbotron a {
    color: lightskyblue;
}

.bottom-right {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

p {
     width: 80%;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}