{% extends "base.html" %}
{% load static %}
{% block page_content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

    <div class="container-fluid">
        <div id="intro">
            <h4 class="text-primary">Introduction:</h4>
            <p>Hi, I'm Dean. I graduated from Computer Applications & Software Engineering in DCU in 2019.</p>
            <p>I'm currently looking for a graduate or entry-level position in software
                engineering, and I'm available to interview and start work immediately.</p>
            <p>I'm primarily interested in Python, Java, or JavaScript roles, but I'm open to anything else if it's
                a good opportunity for me to learn and gain experience.
                I'm eager to start working so please get in touch with me via LinkedIn or email if you might have
                any suitable positions!</p>
        </div>
    </div>

    <div class="container-fluid bg-dark text-light">
        <div class="container">
            <div class="card-deck">
                <div class="card bg-dark text-center border-0">
                    <img class="card-img-top" src="{% static "img/dcu-logo.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">DCU Graduate</h5>
                    </div>
                </div>
                <div class="card bg-dark text-center border-0"></div>
                <div class="card bg-dark text-center border-0">
                    <img class="card-img-top" src="{% static "img/dublin-outline.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dublin Based</h5>
                    </div>
                </div>
                <div class="card bg-dark text-center border-0"></div>
                <div class="card bg-dark text-center border-0">
                    <img class="card-img-top" src="{% static "img/available-now.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ready to start immediately</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-info text-light">
        <div class="container text-center pt-4">
            <h3>Primary Technologies</h3>
            <div class="card-deck pt-4">
                <div class="card bg-transparent text-center border-0">
                    <img class="card-img-top" src="{% static "img/python-logo.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Python</h5>
                    </div>
                </div>
                <div class="card bg-transparent text-center border-0">
                    <img class="card-img-top" src="{% static "img/java-logo.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Java</h5>
                    </div>
                </div>
                <div class="card bg-transparent text-center border-0">
                    <img class="card-img-top" src="{% static "img/js-logo.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">JavaScript</h5>
                    </div>
                </div>
                <div class="card bg-transparent text-center border-0">
                    <img class="card-img-top" src="{% static "img/ts-logo.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">TypeScript</h5>
                    </div>
                </div>
                <div class="card bg-transparent text-center border-0">
                    <img class="card-img-top" src="{% static "img/angular-logo.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Angular</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-primary text-light">
        <div class="container text-center pt-4">
            <h3>Other Skills</h3>
            <div class="card-deck pt-4">
                <div class="card bg-transparent text-center border-0">
                    <img class="card-img-top" src="{% static "img/html-logo.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">HTML</h5>
                    </div>
                </div>
                <div class="card bg-transparent text-center border-0">
                    <img class="card-img-top" src="{% static "img/css-logo.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">CSS</h5>
                    </div>
                </div>
                <div class="card bg-transparent text-center border-0">
                    <img class="card-img-top" src="{% static "img/git-logo.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">git</h5>
                    </div>
                </div>
                <div class="card bg-transparent text-center border-0">
                    <img class="card-img-top" src="{% static "img/bash-logo.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Bash</h5>
                    </div>
                </div>
                <div class="card bg-transparent text-center border-0">
                    <img class="card-img-top" src="{% static "img/linux-logo.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Linux</h5>
                    </div>
                </div>
                <div class="card bg-transparent text-center border-0">
                    <img class="card-img-top" src="{% static "img/windows-logo.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Windows</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
