<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        {% load static %}
        <img src="{% static "img/DLicon.png" %}" width="30" height="30" class="d-inline-block align-top" alt="DL Icon">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#">About</a>
                {#                <a class="nav-link active" href="{% url 'about' %} }">About</a>#}
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'project_index' %}">Projects</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Contact</a>
                {#                <a class="nav-link" href="{% url 'contact' %} }">Contact</a>#}
            </li>
            <li class="nav-item m-2">
                <a href="https://github.com/lynchdean">
                    <img src="{% static "img/GitHub.png" %}" width="25" height="25" alt="GitHub">
                </a>
            </li>
            <li class="nav-item m-2">
                <a href="https://www.linkedin.com/in/deanlynch97/">
                    <img src="{% static "img/LinkedIn.png" %}" width="30" height="25" alt="LinkedIn">
                </a>
            </li>
        </ul>
    </div>
</nav>

{# TODO Remove this once about and contact pages have been added #}
<div class="alert alert-warning alert-dismissible fade show text-center mb-0" role="alert">
  <strong>This website is still a work in progress!</strong> About and Contact pages to be added soon.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div>
    {% block page_content %}{% endblock %}
</div>

<nav class="navbar sticky-bottom navbar-dark bg-secondary text-center">
    <div class="container">
        <span class="navbar-text text-left small">Dean Lynch &copy;2020</span>
        <span class="navbar-text text-right small">This site is self-hosted on a Raspberry Pi</span>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>